extends layout.pug
block body
    #signinmodal.login-modalS
      .login-modal-content
        .login-modal-header
          span(class="login-close")="x"
        .login-modal-body
         .login-modal-text="Username:"
         input#username.login-modal-input
         .login-modal-text="Password:"
         input#password.login-modal-input
         #signin.modal-signin-button(style="background:#f44242")="Sign In"
         .modal-text-simple="or if you did not Sign Up  "
         #register.modal-signin-button(style="background:#4286f4;margin-top:5px;")="Register"
         hr
         #fb.modal-signin-button(style="background:#3b5998;margin-top:5px; color:#EEE")="Facebook"
         #gmail.modal-signin-button(style="background:#d9534f;margin-top:5px; color:#EEE")="Gmail  "

        .login-modal-footer
